<% provide(:title, "Home") %>

<div class="card bg-light text-center text-black" style="border-style: none">
  <%= image_tag 'home.png', :style => "opacity: 25%;" %>
  <div class="card-img-overlay" style="display: flex; flex-direction: column; justify-content: center;">
    <h1 class="card-title" style="font-weight:500;">Add a Cat to your Family Today</h1>
    <h5 class="card-text" style="color: #787272; font-weight: 700;">
        Your support helps us to provide the love and care they need until we find <br> them a safe, new and forever home.
        In return, receive updates on how your furry friend is doing!
    </h5>
  </div>
</div>
