<% provide(:title, "Not Found") %>


<div class="row justify-content-center">
    <div class="col-sm-8" style="margin-top: 5vh;">
        <div class="card text-center" style="border-radius: 15px">
            <%= image_tag('404cat', class: "card-img-top") %>
            <div class="card-body">
                <h2 class="card-title">Oops. Page not found :(</h2>
            </div>
        </div>
    </div>
</div>