<script>
$(document).ready(function() {
    $(".trait-list").select2();
    $('#tags a.add_fields').data("association-insertion-position", 'before').data("association-insertion-node", 'this');
    $('#tags').on('cocoon:after-insert', function () {
        $(".trait a.add_fields").data("association-insertion-position", 'before').data("association-insertion-node", 'this');
        $(".trait").on('cocoon:after-insert', function () {
            $(this).find(".trait-list").select2('destroy');
            $(this).find(".trait-list").remove();
            $(this).find("a.add_fields").hide();
        });
    });
});
</script>

<div class="nested-fields form-inline trait">
    <%= f.collection_select(:trait_id, Trait.all, :id, :description, {}, {class: "trait-list"}) %>
    <%= link_to_add_association "or create a new trait", f, :trait %> 
    <%= link_to_remove_association "Remove Trait", f, style: "margin-left: 20px" %>
</div>
