<%= provide(:title, "Cat Feed") %>

<% if @feed_posts.any? %>
<div class="row" style="padding: 15px">
    <div class="col-sm-4">
        <div class="card text-center" style="border-radius: 15px">
            <%= image_tag(@user.avatar, class: "card-img-top") %>
            <div class="card-body">
                <h5 class="card-title"><%= @user.name %></h5>     
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <%= render @feed_posts %>
    </div>
</div>

<% else %>
    <h5>There are no posts available<h5>
<% end %>